In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession \
    .builder \
    .appName("pyspark-notebook") \
    .master("spark://spark-master:7077") \
    .config("spark.executor.memory", "512m") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:0.8.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

from delta.tables import *

In [2]:
data = spark.read.options(header='True', inferSchema='True', delimiter=',') \
    .csv("/opt/workspace/FakeNameGenerator.com_000ba228.csv")

data.printSchema()
data.show(n=5)

root
 |-- Number: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- NameSet: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- GivenName: string (nullable = true)
 |-- MiddleInitial: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- StreetAddress: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- StateFull: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- CountryFull: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Username: string (nullable = true)
 |-- Password: string (nullable = true)
 |-- BrowserUserAgent: string (nullable = true)
 |-- TelephoneNumber: string (nullable = true)
 |-- TelephoneCountryCode: integer (nullable = true)
 |-- MothersMaiden: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- TropicalZodiac: string (nullable = true)
 |-- CCType: string (nullable = true)
 |-- CCNumber: long (nullable = true)
 |-- CVV2: integer (nullable = true)
 |-- CCExpires: string (nullable = true)
 |-- NationalID: string (nullable = true)
 |-- UPS: string (nullable = true)
 |-- WesternUnionMTCN: long (nullable = true)
 |-- MoneyGramMTCN: integer (nullable = true)
 |-- Color: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Vehicle: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- BloodType: string (nullable = true)
 |-- Pounds: double (nullable = true)
 |-- Kilograms: double (nullable = true)
 |-- FeetInches: string (nullable = true)
 |-- Centimeters: integer (nullable = true)
 |-- GUID: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

+------+------+----------+-----+---------+-------------+---------+-----------------+--------------+-----+---------------+-------+-------+-----------+--------------------+-----------+------------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+-----------------+--------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|Number|Gender|   NameSet|Title|GivenName|MiddleInitial|  Surname|    StreetAddress|          City|State|      StateFull|ZipCode|Country|CountryFull|        EmailAddress|   Username|    Password|    BrowserUserAgent|TelephoneNumber|TelephoneCountryCode|MothersMaiden|  Birthday|Age|TropicalZodiac|    CCType|        CCNumber|CVV2|CCExpires|NationalID|                 UPS|WesternUnionMTCN|MoneyGramMTCN| Color|          Occupation|          Company|             Vehicle|              Domain|BloodType|Pounds|Kilograms|FeetInches|Centimeters|                GUID|  Latitude| Longitude|
+------+------+----------+-----+---------+-------------+---------+-----------------+--------------+-----+---------------+-------+-------+-----------+--------------------+-----------+------------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+-----------------+--------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|     1|  male|Australian|  Mr.|   Nathan|            K|    Arida|  64 Seninis Road|MOUNT SURROUND|  QLD|     Queensland|   4809|     AU|  Australia|NathanArida@gustr...|   Formly39|   CooyeeNg5|Mozilla/5.0 (X11;...| (07) 4078 4532|                  61|      Swanton| 9/13/1939| 81|         Virgo|      Visa|4916706296208330| 155|   9/2023|      null|1Z 645 74Y 48 526...|      8412074272|     55132846|  Blue|Forest and conser...|            Orion|   1997 Nissan 400 R|   SECMeeting.com.au|       O+| 199.3|     90.6|   5' 11""|        180|b95d1616-0def-4ff...|-19.662349|147.199677|
|     2|  male|Australian|  Mr.|   Joshua|            P|Trevascus|  75 Cherry Grove|      SMITHTON|  TAS|       Tasmania|   7330|     AU|  Australia|JoshuaTrevascus@a...|  Rusid1964| eis9Aiph0oo|Mozilla/5.0 (Wind...| (03) 6261 2036|                  61|        Byles|  7/1/1964| 56|        Cancer|MasterCard|5274241028918348| 354|  12/2024|      null|1Z 985 930 80 156...|      3356978471|     85920454| Green|    Soldering worker|   Dee's Drive-In|2006 SsangYong Kyron|PurchaseLumber.co...|       B+| 210.5|     95.7|   5' 10""|        179|389f25bc-69a4-4f9...| -41.02623|144.940886|
|     3|female|Australian|  Ms.|    Alica|            Z|    Lewis|76 Spencer Street|      YAROOMBA|  QLD|     Queensland|   4573|     AU|  Australia|AlicaLewis@gustr.com|    Annothe| ach0anaPuqu|Mozilla/5.0 (Maci...| (07) 5350 6742|                  61|     Corfield|12/21/1944| 76|   Sagittarius|MasterCard|5149880884378312| 683|   6/2025|      null|1Z 686 434 91 491...|      3894292278|     58660109|Purple|      Transfer clerk|Children's Palace|  2012 Dodge Journey|CleaningInvention...|       B+| 174.0|     79.1|    5' 3""|        161|0d86ada7-4271-42d...|-26.612733|153.075525|
|     4|  male|Australian|  Mr.|    Aiden|            R|  Mattner|   89 Moruya Road|    MONGARLOWE|  NSW|New South Wales|   2622|     AU|  Australia|AidenMattner@gust...|     Repask|  Ta6ueGhae1|Mozilla/5.0 (X11;...| (02) 6190 4855|                  61|    Mackenzie| 6/28/1948| 72|        Cancer|MasterCard|5297717742063787| 301|   2/2023|      null|1Z 860 349 18 707...|      4672894936|     23696202|   Red|      Vice president| Saturday Matinee|     2006 Toyota MR2|  MobileCamps.com.au|      AB-| 150.7|     68.5|    5' 9""|        175|8af4881e-e8fc-454...|-35.540778|149.827102|
|     5|  male|Australian|  Mr.|    Jacob|            J| Fletcher|  3 Taylor Street|        BEARII|  VIC|       Victoria|   3641|     AU|  Australia|JacobFletcher@day...|Hathimerent|aeXaeK2oa1ah|Mozilla/5.0 (X11;...| (03) 5345 7436|                  61|   Hagelthorn| 3/27/1956| 64|         Aries|      Visa|4929553773791825|  26|   5/2022|      null|1Z 62F 136 94 385...|      2952449496|     85710088|  Blue|             Blaster| Parts and Pieces|    1995 Subaru Alfa|TicketScanners.co...|       B+| 138.2|     62.8|    5' 8""|        173|9aa864e4-7b13-4f4...|-35.934541|145.399223|
+------+------+----------+-----+---------+-------------+---------+-----------------+--------------+-----+---------------+-------+-------+-----------+--------------------+-----------+------------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+-----------------+--------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
only showing top 5 rows

In [11]:
data.write.format("delta").mode("overwrite").save("/opt/workspace/Fakenames-delta-table")

In [17]:
delta_read = spark.read.format("delta").load("/opt/workspace/Fakenames-delta-table")
delta_read.show(n=1)

+------+------+----------+-----+---------+-------------+-------+---------------+--------------+-----+----------+-------+-------+-----------+--------------------+--------+---------+--------------------+---------------+--------------------+-------------+---------+---+--------------+------+----------------+----+---------+----------+--------------------+----------------+-------------+-----+--------------------+-------+-----------------+-----------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|Number|Gender|   NameSet|Title|GivenName|MiddleInitial|Surname|  StreetAddress|          City|State| StateFull|ZipCode|Country|CountryFull|        EmailAddress|Username| Password|    BrowserUserAgent|TelephoneNumber|TelephoneCountryCode|MothersMaiden| Birthday|Age|TropicalZodiac|CCType|        CCNumber|CVV2|CCExpires|NationalID|                 UPS|WesternUnionMTCN|MoneyGramMTCN|Color|          Occupation|Company|          Vehicle|           Domain|BloodType|Pounds|Kilograms|FeetInches|Centimeters|                GUID|  Latitude| Longitude|
+------+------+----------+-----+---------+-------------+-------+---------------+--------------+-----+----------+-------+-------+-----------+--------------------+--------+---------+--------------------+---------------+--------------------+-------------+---------+---+--------------+------+----------------+----+---------+----------+--------------------+----------------+-------------+-----+--------------------+-------+-----------------+-----------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|     1|  male|Australian|  Mr.|   Nathan|            K|  Arida|64 Seninis Road|MOUNT SURROUND|  QLD|Queensland|   4809|     AU|  Australia|NathanArida@gustr...|Formly39|CooyeeNg5|Mozilla/5.0 (X11;...| (07) 4078 4532|                  61|      Swanton|9/13/1939| 81|         Virgo|  Visa|4916706296208330| 155|   9/2023|      null|1Z 645 74Y 48 526...|      8412074272|     55132846| Blue|Forest and conser...|  Orion|1997 Nissan 400 R|SECMeeting.com.au|       O+| 199.3|     90.6|   5' 11""|        180|b95d1616-0def-4ff...|-19.662349|147.199677|
+------+------+----------+-----+---------+-------------+-------+---------------+--------------+-----+----------+-------+-------+-----------+--------------------+--------+---------+--------------------+---------------+--------------------+-------------+---------+---+--------------+------+----------------+----+---------+----------+--------------------+----------------+-------------+-----+--------------------+-------+-----------------+-----------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
only showing top 1 row

In [22]:
delta_read.createOrReplaceTempView("TBLFAKENAMES")

In [24]:
delta_read.describe().show()

+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+--------+-----------+--------------------+---------------+--------------------+-------------+--------+------------------+--------------+----------+--------------------+-----------------+---------+----------+--------------------+-------------------+-------------------+------+------------+-----------------+------------------+----------------+---------+------------------+-----------------+----------+-----------------+--------------------+------------------+------------------+
|summary|           Number|Gender|   NameSet| Title|GivenName|MiddleInitial|  Surname| StreetAddress|       City| State|           StateFull|           ZipCode|Country|CountryFull|        EmailAddress|Username|   Password|    BrowserUserAgent|TelephoneNumber|TelephoneCountryCode|MothersMaiden|Birthday|               Age|TropicalZodiac|    CCType|            CCNumber|             CVV2|CCExpires|NationalID|                 UPS|   WesternUnionMTCN|      MoneyGramMTCN| Color|  Occupation|          Company|           Vehicle|          Domain|BloodType|            Pounds|        Kilograms|FeetInches|      Centimeters|                GUID|          Latitude|         Longitude|
+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+--------+-----------+--------------------+---------------+--------------------+-------------+--------+------------------+--------------+----------+--------------------+-----------------+---------+----------+--------------------+-------------------+-------------------+------+------------+-----------------+------------------+----------------+---------+------------------+-----------------+----------+-----------------+--------------------+------------------+------------------+
|  count|           100000|100000|    100000|100000|   100000|       100000|   100000|        100000|     100000|100000|              100000|            100000| 100000|     100000|              100000|  100000|     100000|              100000|         100000|              100000|       100000|  100000|            100000|        100000|    100000|              100000|           100000|   100000|         0|              100000|             100000|             100000|100000|      100000|            99894|            100000|          100000|   100000|            100000|           100000|    100000|           100000|              100000|            100000|            100000|
|   mean|          50000.5|  null|      null|  null|     null|         null|      NaN|          null|       null|  null|                null|        4053.86348|   null|       null|                null|    null|       null|                null|           null|                61.0|          NaN|    null|          51.94243|          null|      null|5.008558395721117E15|        500.84509|     null|      null|                null| 5.00272027571852E9|    5.01198558158E7|  null|        null|             null|              null|            null|     null|178.20796800000033|81.00359000000012|      null|        169.56814|                null|-32.25304712135975|143.99766718749973|
| stddev|28867.65779668774|  null|      null|  null|     null|         null|      NaN|          null|       null|  null|                null|1496.7136660631766|   null|       null|                null|    null|       null|                null|           null|                 0.0|          NaN|    null|19.297481691223247|          null|      null|3.768359584466071E14|288.3085365559172|     null|      null|                null|2.888214654545636E9|2.890640898038302E7|  null|        null|             null|              null|            null|     null| 35.64753572098643|16.20333723630021|      null|9.529713799209878|                null| 5.714470181392545| 10.39975150309309|
|    min|                1|female|Australian|   Dr.|    Aaron|            A|    Aaron|1 Acheron Road|AARONS PASS|   ACT|Australian Capita...|               800|     AU|  Australia|AaronAbercrombie@...|  Abaces|  AB3eePhei|Mozilla/5.0 (Maci...| (02) 4000 0348|                  61|        Aaron|1/1/1936|                19|      Aquarius|MasterCard|    4485000019629993|                1|   1/2022|      null|1Z 000 001 34 627...|              26872|               2009| Black|911 operator|10,000 Auto Parts|1992 Acura Integra|    72907.com.au|       A+|              97.2|             44.2|   4' 11""|              150|00005d8c-8dec-48a...|        -43.374739|          96.78191|
|    max|           100000|  male|Australian|   Ms.|      Zoe|            Z|de Largie| 99 Zipfs Road|   ZUYTDORP|    WA|   Western Australia|              7470|     AU|  Australia|ZoeZerner@jourrap...|   Ã†ner|zuyoo9Jitha|Mozilla/5.0 (iPad...| (08) 9499 8166|                  61|    de Largie|9/9/2001|                85|         Virgo|      Visa|    5599991312277979|              999|   9/2026|      null|1Z Y99 W47 01 308...|         9999941222|           99997133|Yellow|   Zoologist|     id Boutiques| 2015 smart fortwo|vSpecials.com.au|       O-|             257.4|            117.0|    6' 3""|              190|fffffc6e-4e15-431...|        -10.025845|        159.140528|
+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+--------+-----------+--------------------+---------------+--------------------+-------------+--------+------------------+--------------+----------+--------------------+-----------------+---------+----------+--------------------+-------------------+-------------------+------+------------+-----------------+------------------+----------------+---------+------------------+-----------------+----------+-----------------+--------------------+------------------+------------------+

In [21]:
spark.sql("SELECT Number TBLFAKENAMES WHERE Number < 2").show()

AnalysisException: cannot resolve '`Number`' given input columns: []; line 1 pos 33;
'Project ['Number AS TBLFAKENAMES#4365]
+- 'Filter ('Number < 2)
   +- OneRowRelation