In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession \
    .builder \
    .appName("pyspark-notebook") \
    .master("spark://spark-master:7077") \
    .config("spark.executor.memory", "512m") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:0.8.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

from delta.tables import *

In [3]:
data = spark.read.options(header='True', inferSchema='True', delimiter=',') \
    .csv("../data/FakeNames/FakeNameGenerator.com_*.csv")

data.printSchema()
data.show(n=5)

root
 |-- Number: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- NameSet: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- GivenName: string (nullable = true)
 |-- MiddleInitial: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- StreetAddress: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- StateFull: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- CountryFull: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Username: string (nullable = true)
 |-- Password: string (nullable = true)
 |-- BrowserUserAgent: string (nullable = true)
 |-- TelephoneNumber: string (nullable = true)
 |-- TelephoneCountryCode: integer (nullable = true)
 |-- MothersMaiden: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- TropicalZodiac: string (nullable = true)
 |-- CCType: string (nullable = true)
 |-- CCNumber: long (nullable = true)
 |-- CVV2: integer (nullable = true)
 |-- CCExpires: string (nullable = true)
 |-- NationalID: string (nullable = true)
 |-- UPS: string (nullable = true)
 |-- WesternUnionMTCN: long (nullable = true)
 |-- MoneyGramMTCN: integer (nullable = true)
 |-- Color: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Vehicle: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- BloodType: string (nullable = true)
 |-- Pounds: double (nullable = true)
 |-- Kilograms: double (nullable = true)
 |-- FeetInches: string (nullable = true)
 |-- Centimeters: integer (nullable = true)
 |-- GUID: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

+------+------+----------+-----+---------+-------------+----------+-------------------+--------------------+-----+---------------+-------+-------+-----------+--------------------+-----------+-----------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+--------------------+-------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|Number|Gender|   NameSet|Title|GivenName|MiddleInitial|   Surname|      StreetAddress|                City|State|      StateFull|ZipCode|Country|CountryFull|        EmailAddress|   Username|   Password|    BrowserUserAgent|TelephoneNumber|TelephoneCountryCode|MothersMaiden|  Birthday|Age|TropicalZodiac|    CCType|        CCNumber|CVV2|CCExpires|NationalID|                 UPS|WesternUnionMTCN|MoneyGramMTCN| Color|          Occupation|             Company|            Vehicle|              Domain|BloodType|Pounds|Kilograms|FeetInches|Centimeters|                GUID|  Latitude| Longitude|
+------+------+----------+-----+---------+-------------+----------+-------------------+--------------------+-----+---------------+-------+-------+-----------+--------------------+-----------+-----------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+--------------------+-------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
|     1|  male|Australian|  Mr.|    Dylan|            K|Castellano|    67 Lewin Street|             BECTRIC|  NSW|New South Wales|   2665|     AU|  Australia|DylanCastellano@g...| Conscideur|jafoh6yaiFa|Mozilla/5.0 (Maci...| (02) 6160 9482|                  61|       Delany|12/28/1937| 83|     Capricorn|      Visa|4916963474342197| 393|  12/2022|      null|1Z 148 884 67 499...|      1681196750|     97475140|  Blue|      Office manager|            Mr. AG's|2006 Chevrolet Aveo|PoshApartments.co...|      AB+| 184.4|     83.8|    5' 8""|        173|03aa0302-81f3-464...|-34.200335|146.834605|
|     2|female|Australian|  Ms.|  Matilda|            A|    Maxted|   20 Hargrave Road|            COLINTON|  QLD|     Queensland|   4306|     AU|  Australia|MatildaMaxted@gus...|     Mirdid| dieS9Ahroo|Mozilla/5.0 (X11;...| (07) 4553 1552|                  61|  Teichelmann|  6/1/1967| 53|        Gemini|MasterCard|5528540221740175| 620|   6/2025|      null|1Z 4E3 480 93 965...|      3263516298|     61457504|Purple|Laboratory animal...|Avant Garde Inter...|  2005 Kia Magentis|ChiropractorsDire...|       B+| 149.8|     68.1|    5' 8""|        172|963c1353-3657-44a...|-27.070498| 152.38932|
|     3|  male|Australian|  Mr.|     Adam|            I|  Heighway| 26 Walder Crescent|CENTRAL QUEENSLAN...|  QLD|     Queensland|   4702|     AU|  Australia|AdamHeighway@army...|Majects1979|  ko8Gie6ci|Mozilla/5.0 (X11;...| (07) 4920 1058|                  61|       Boston| 6/14/1979| 41|        Gemini|      Visa|4539528951618406| 716|   4/2023|      null|1Z 088 832 71 601...|      6371206902|     81937801|  Blue|              Caster|         Zany Brainy|   2002 Opel Vectra|      NunJobs.com.au|       A+| 157.1|     71.4|    5' 7""|        171|434ad0f8-aa0b-469...|-23.875813|148.757677|
|     4|  male|Australian|  Dr.|     Hugo|            G|    Sewell|    67 Redesdale Rd|     BENDIGO FORWARD|  VIC|       Victoria|   3551|     AU|  Australia|HugoSewell@flecke...|  Nabou1961| eiL7leo7ai|Mozilla/5.0 (Maci...| (03) 5349 1919|                  61|       Ogilby| 11/1/1961| 59|       Scorpio|MasterCard|5403856798084759| 612|   4/2025|      null|1Z 392 732 94 207...|      6135094679|     83614777| Black|        Periodontist|            Lechmere|    2000 Seat Ibiza|     Patville.com.au|       O+| 250.4|    113.8|    5' 6""|        168|d2df2250-6909-4b7...|-36.794026|144.309643|
|     5|female|Australian|  Ms.|    Piper|            L|    Foster|29 Mt Berryman Road|      UPPER TENTHILL|  QLD|     Queensland|   4343|     AU|  Australia|PiperFoster@telew...|     Retion|   Voocuth8|Mozilla/5.0 (X11;...| (07) 4534 9311|                  61|       Newell| 11/7/1968| 52|       Scorpio|MasterCard|5209902788709934| 850|  12/2023|      null|1Z 46V 319 24 801...|      7920737176|     99567156| Black|  Rail yard engineer|         Simply Save|       2006 BMW 750|    BuiltRank.com.au|       O+| 199.1|     90.5|    5' 3""|        160|c240960a-6e50-4e8...|-27.727362|152.249102|
+------+------+----------+-----+---------+-------------+----------+-------------------+--------------------+-----+---------------+-------+-------+-----------+--------------------+-----------+-----------+--------------------+---------------+--------------------+-------------+----------+---+--------------+----------+----------------+----+---------+----------+--------------------+----------------+-------------+------+--------------------+--------------------+-------------------+--------------------+---------+------+---------+----------+-----------+--------------------+----------+----------+
only showing top 5 rows

In [6]:
data.write.format("delta").mode("overwrite").save("../data/FakeNames/Fakenames-delta-table")

In [7]:
delta_read = spark.read.format("delta").load("../data/FakeNames/Fakenames-delta-table")
delta_read.count()

200000

In [22]:
delta_read.createOrReplaceTempView("TBLFAKENAMES")

In [8]:
delta_read.describe().show()

+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+---------+-----------+--------------------+---------------+--------------------+-------------+--------+-----------------+--------------+----------+--------------------+------------------+---------+----------+--------------------+-------------------+--------------------+------+------------+-----------------+------------------+----------------+---------+------------------+----------------+----------+-----------------+--------------------+------------------+------------------+
|summary|           Number|Gender|   NameSet| Title|GivenName|MiddleInitial|  Surname| StreetAddress|       City| State|           StateFull|           ZipCode|Country|CountryFull|        EmailAddress| Username|   Password|    BrowserUserAgent|TelephoneNumber|TelephoneCountryCode|MothersMaiden|Birthday|              Age|TropicalZodiac|    CCType|            CCNumber|              CVV2|CCExpires|NationalID|                 UPS|   WesternUnionMTCN|       MoneyGramMTCN| Color|  Occupation|          Company|           Vehicle|          Domain|BloodType|            Pounds|       Kilograms|FeetInches|      Centimeters|                GUID|          Latitude|         Longitude|
+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+---------+-----------+--------------------+---------------+--------------------+-------------+--------+-----------------+--------------+----------+--------------------+------------------+---------+----------+--------------------+-------------------+--------------------+------+------------+-----------------+------------------+----------------+---------+------------------+----------------+----------+-----------------+--------------------+------------------+------------------+
|  count|           200000|200000|    200000|200000|   200000|       200000|   200000|        200000|     200000|200000|              200000|            200000| 200000|     200000|              200000|   200000|     200000|              200000|         200000|              200000|       200000|  200000|           200000|        200000|    200000|              200000|            200000|   200000|         0|              200000|             200000|              200000|200000|      200000|           199802|            200000|          200000|   200000|            200000|          200000|    200000|           200000|              200000|            200000|            200000|
|   mean|          50000.5|  null|      null|  null|     null|         null|      NaN|          null|       null|  null|                null|       4057.536235|   null|       null|                null|     null|       null|                null|           null|                61.0|          NaN|    null|         51.99957|          null|      null|5.008296742499379E15|         500.17198|     null|      null|                null| 5.00538888697669E9|    5.008825188813E7|  null|        null|             null|              null|            null|     null| 178.2973430000029|       81.044199|      null|       169.573025|                null|-32.25051189762463| 143.9896277217149|
| stddev|28867.58562709219|  null|      null|  null|     null|         null|      NaN|          null|       null|  null|                null|1499.6081686695143|   null|       null|                null|     null|       null|                null|           null|                 0.0|          NaN|    null|19.32732696321283|          null|      null|3.766904071237295E14|288.59996034747587|     null|      null|                null|2.886884921382647E9|2.8898624298627906E7|  null|        null|             null|              null|            null|     null|35.664805882441605|16.2112129054404|      null|9.538388870961715|                null| 5.719957678261932|10.401682785056677|
|    min|                1|female|Australian|   Dr.|    Aaron|            A|    Aaron|1 Acheron Road|AARONS PASS|   ACT|Australian Capita...|               800|     AU|  Australia|AaronAbercrombie@...|   Abaces|AB3ar9shee9|Mozilla/5.0 (Maci...| (02) 4000 0053|                  61|        Aaron|1/1/1936|               19|      Aquarius|MasterCard|    4485000019629993|                 1|   1/2022|      null|1Z 000 001 34 627...|              11896|                 161| Black|911 operator|10,000 Auto Parts|1992 Acura Integra|    72907.com.au|       A+|              97.0|            44.1|   4' 11""|              150|000023b3-8cf6-487...|        -43.374739|         96.778011|
|    max|           100000|  male|Australian|   Ms.|      Zoe|            Z|de Largie| 99 Zipfs Road|   ZUYTDORP|    WA|   Western Australia|              7470|     AU|  Australia|ZoeZerner@jourrap...|Ã†ner1966|zuzeijah9Ee|Mozilla/5.0 (iPad...| (08) 9499 8780|                  61|    de Largie|9/9/2001|               85|         Virgo|      Visa|    5599999374620002|               999|   9/2026|      null|1Z Y99 Y44 54 818...|         9999990949|            99999941|Yellow|   Zoologist|     id Boutiques| 2015 smart fortwo|vSpecials.com.au|       O-|             257.4|           117.0|    6' 3""|              190|fffffe6b-d32b-48f...|        -10.025845|        159.173135|
+-------+-----------------+------+----------+------+---------+-------------+---------+--------------+-----------+------+--------------------+------------------+-------+-----------+--------------------+---------+-----------+--------------------+---------------+--------------------+-------------+--------+-----------------+--------------+----------+--------------------+------------------+---------+----------+--------------------+-------------------+--------------------+------+------------+-----------------+------------------+----------------+---------+------------------+----------------+----------+-----------------+--------------------+------------------+------------------+

In [21]:
spark.sql("SELECT Number TBLFAKENAMES WHERE Number < 2").show()

AnalysisException: cannot resolve '`Number`' given input columns: []; line 1 pos 33;
'Project ['Number AS TBLFAKENAMES#4365]
+- 'Filter ('Number < 2)
   +- OneRowRelation